@use '../foundation/color' as *;

.--txtWhite{
    color: $cWhite;
}

.--txtAccent{
    color: $cAccent !important;
}

.--hrWhite{
    background: linear-gradient(-50deg,transparent 49%,$cWhite 49%,$cWhite calc(50% + 1px),transparent calc(50% + 1px));
}

.--bgAccent{
    background-color: $cAccent;
}

.--bgBlack{
    background-color: $cText;
}

.lsp-1px{
    letter-spacing: 1px;
}

.mg-10px{
    margin-top: -10px;
}


.--hrSecondary{
    background: linear-gradient(-50deg,transparent 49%,$cSecondry 49%,$cSecondry calc(50% + 1px),transparent calc(50% + 1px));
}
