@use '../foundation/index' as *;

.c-btn{
    &--primary{
        display: flex;
        align-items: center;
        width: 256px;
        height: 64px;
        color: $cWhite;
        background-color: $cPrimary;
        justify-content: center;
        box-shadow: 0px 2px 4px 0 rgba(24, 40, 72, 0.46);
        &:hover{
            transition: .3s;
            scale: (1.01);
            background-color: color-mix(in srgb, $cPrimary, black 20%);
        }
        @include responsive(sm){
            width: 256px;
            height: 44px;
            margin: 0 auto;
        }
        p {
            font-size: 16px;
            margin-right: 16px;
            @include responsive(sm){
                font-size: 14px;
                margin-right: 14px;
            }
        }
    }
    &--lg{
        display: flex;
        padding-right: 2px;
        padding-bottom: 2px;
        align-items: center;
        width: 320px;
        height: 72px;
        color: $cWhite;
        justify-content: center;
        box-shadow: 0px 2px 4px 0 rgba(25, 25, 25, 0.46);
    
        @include responsive(sm){
            width: 100%;
            height: rclamp(48,55,375,768);
            position: relative;
            padding-top: 5px;
        }
        >img {
            @include responsive(sm){
                width: 25px;
                height: 20px;
                position: absolute;
                // left: 24px;
                left: rclamp(24,200,375,768);
            }
        }
        >span{
            @include responsive(sm){
                position: absolute;
                right: rclamp(25,200,375,768);
                top: 50%;
                transform: translateY(-50%) skew(45deg);
            }
        }
        p {
            font-size: 16px;
            margin:0 16px;
            @include responsive(sm){
                font-size: 14px;
                margin: 0;
            }
        }
    }
}
