@use '../foundation/index' as *;

.c-vector{
    display: inline-block;
    border-bottom: 1px solid $cWhite;
    border-right: 1px solid $cWhite;
    transform: skew(45deg);
    width: 16px;
    height: 4.5px;
    &--news{
        @extend .c-vector;
        transform: translateY(-50%) skew(45deg);
        position:absolute;
        top: 50%;
        right: 32px;
        @include responsive(md){
            right: 40%;
        }
    }
    &--recruit{
        @extend .c-vector;
        transform: translateY(-45%) skew(45deg);
        position:absolute;
        bottom: 45%;
        right: 16px;
        &:hover{
            opacity: 1;
        }
        @include responsive(sm){
        right: rclamp(20,250,330,768);
        top: 60%;
        transform: translateY(-65%) skew(45deg);
        }
    }
  }
